body {
    background: #2b2b2b;
}

.discordstatus {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttonik{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 30px;
    background-color: rgb(69, 69, 69);
    border-radius: 15px;
    border-color: transparent;
}

.about {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5.5s steps(40),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 29% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }